[project]
name = "designrepo"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "httpx>=0.28.1",
    "openai>=2.14.0",
    "reflex>=0.8.24.post1",
]
