apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: designrepo
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: https://github.com/kagesenshi/designrepo.git
    targetRevision: HEAD
    path: k8s/overlays/production
  
  destination:
    server: https://kubernetes.default.svc
    namespace: designrepo
  
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
