apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  template:
    spec:
      containers:
      - name: backend
        env:
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: designrepo-cluster-app
              key: user
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: designrepo-cluster-app
              key: host
        - name: DB_PORT
          valueFrom:
            secretKeyRef:
              name: designrepo-cluster-app
              key: port
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: designrepo-cluster-app
              key: password
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: designrepo-cluster-app
              key: dbname
        - name: DB_URI
          valueFrom:
            secretKeyRef:
              name: designrepo-cluster-app
              key: fqdn-uri
