apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: designrepo

resources:
  - ../../base

commonLabels:
  environment: production

# Production-specific patches
patchesStrategicMerge:
  - replica-patch.yaml
