apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
    nodePort: 30080
  selector:
    app.kubernetes.io/component: backend
